<div class="console">
  <div class="console-head"><span>worker.rs</span><span>explicit lifecycle</span></div>
  <pre><code><span class="code-keyword">while let</span> Some(msg) = sub.<span class="code-function">recv</span>().await? &#123;
    <span class="code-keyword">match</span> send_email(msg.<span class="code-function">content</span>()?).await &#123;
        Ok(_) =&gt; msg.<span class="code-function">complete</span>().await?,
        Err(_) =&gt; msg.<span class="code-function">retry_after</span>(<span class="code-number">30</span>).await?,
    &#125;;
&#125;

<span class="code-comment">// retries are behavior, not ceremony</span></code></pre>
</div>
